<table class="table">
    <tbody>

        <tr>
            <th>Motor Status (On/Off)</th>
            <th>Power (Watts)</th>
            <th>Voltage (Volts)</th>
            <th>Current (Amps)</th>
            <th>Pf</th>

        </tr>
        <tr>
            <td>{{this.readings.borewell_motor_status}}</td>
            <td>{{this.readings.borewell_motor_power}}</td>
            <td>{{this.readings.borewell_motor_voltage}}</td>
            <td>{{this.readings.borewell_motor_current}}</td>
            <td>{{this.readings.borewell_motor_pf}}</td>
        </tr>

        <!-- <tr *ngFor="let reading of readings">
                      <td>{{ reading.co }}</td>
                      <td>{{ reading.h2s }}</td>
                      <td>{{ reading.nh3 }}</td>
                      <td>{{ reading.ch4 }}</td>
                     
                    </tr> -->
    </tbody>
</table>