<table class="table">
    <tbody>

        <tr>
            <th>Motor Status (On/Off)</th>
            <th>Power (Watts)</th>
            <th>Voltage (Volts)</th>
            <th>Current (Amps)</th>
            <th>Pf</th>

        </tr>
        <tr>
            <td>On</td>
            <td>150W</td>
            <td>230V</td>
            <td>120A</td>
            <td>100</td>
        </tr>

        <!-- <tr *ngFor="let reading of readings">
                      <td>{{ reading.co }}</td>
                      <td>{{ reading.h2s }}</td>
                      <td>{{ reading.nh3 }}</td>
                      <td>{{ reading.ch4 }}</td>
                     
                    </tr> -->
    </tbody>
</table>