
.graph-wrapper{
    margin-left: 300px;
    margin-top: 10px;
}


.sump-tank-card{
    
}

.center{
    text-align: center;
    align-items: center;
}

.tank-title{
    display: inline;
    margin-right: 70px;
}